@media screen and (orientation:landscape) {
    body
    {
        font-family: 'Montserrat', sans-serif;
        color: red; 
        overflow-x: hidden;
        margin-left: 10%;
        margin-right: 10%;
    }
    header
    {
        display: flex;
        justify-content: space-around;
        position: sticky;
        flex-wrap: wrap;
        top:5px;
        background-color:black;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        transition: .8s;
        align-items: center;
    }
    .logo
    {
        font-weight: bold;
        font-size: 25px;
        text-shadow: 4px 4px 2px black;
    }
    .bi-justify
    {
        display: none;
    }
    .nav{
        list-style: none;
        display: flex;
    }
    ul a
    {
        text-decoration: none;        
        color:white;
    }
    .nav-items
    {
        border-radius: 10px;
        border-width: 0;
        padding: 5px 10px 6px 10px;
        margin-left: 15px;
        margin-right: 5px;
        transition:ease-out .4;       
        color: white; 
    }
    .nav-items:hover
    {
        background-color: white; 
        font-size: 16px;
        font-weight: bold;
        color: black;
        transition:ease-out .4s;
    }
    .home
    {
        display: grid;
        grid-template-columns: 6fr 6fr;
        /* margin-bottom: -100px; */
    }
    .effect 
    {
        display: grid;
        grid-template-columns: 6fr 6fr;
    }
    .home-img img
    {
        margin-top: 30px;
        border-top-right-radius: 160px;
        border-bottom-left-radius: 160px;
        box-shadow: 24px 24px 20px gray;
        transition: .5s;
    }
    .home-img img:hover
    {
        height: 605px;
        width: 455px;
        transition: .5s;
    }
    .right-side
    {
        margin-left: 10%;
    }
    .main-text
    {
        margin-top: 200px;
        width: 600px;
        text-shadow: 4px 4px 5px grey;
    }
    .first-line
    {
        font-size: 28px;
        margin-bottom: -12px;
    }
    .second-line
    {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: -12px;
    }
    .typing
    {
        display:inline-block;
        padding-right: 3px;
        font-size: 35px;
        border-right: 3px solid black;
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        animation: typing 6s steps(23) infinite;
        
    }
    @keyframes typing {
        0%
        {
        width: 0;
        }
        50%
        {
            width: 70%;
        }
        
    }
    .main-btn
    {
        margin-top: 70px;
    }
    .btn-cv, .btn-hire
    {
        color: white;
        background-color: black;
        padding: 10px;
        width: 150px;
        margin-right: 10px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        box-shadow: inset 0 0 0 50px black;
        font-size: 20px;
        transition: ease-out .5s;

    }
    .btn-hire
    {
        width: 120px;
    }
    .btn-cv:hover, .btn-hire:hover
    {
        color: black;
        background-color: white;
        height: 50px;
        width: 160px; 
        box-shadow: inset 0 0 0 0 black;
        transition: .7s;    
    }
    .btn-hire:hover
    {
        width: 130px;   
    }
    hr
    {
        color: grey;
        margin-top: 60px; 
        margin-right: 105px;
    }
    .skills
    {
        display: grid;
        grid-template-columns: 6fr 6fr;
        margin-top:30px;
        margin-left: -10px;
        padding-left: 110px;                                  
        color: black; 
        width: 100%;
    }
    .heading, .heading-pc
    {
        font-size: 40px;
        color: black;
        font-weight: bold;
        text-shadow: 5px 2px 5px grey;
        padding-top: 50px;
    
    }
    .heading-mobile
    {
        display: none;
    }
    .skillimg
    {
        height: 350px;
        width: 450px;
        margin-right: 180px;
        border-top-right-radius: 180px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 20px 20px 15px gray;
        transition: 1s;        
    }
    .skillimg:hover
    {
        transition: 1s;
        height: 360px;
        width:460px
        
    }
    table
    {
        margin-top: 150px;
    }
    td
    {
        justify-content: space-between;
        width: 400px;
        font-weight: bold;
    }
    .skbar
    {
        width: 400px;
        height: 25px;
        transition: .5s;
    }
    .skbar:hover
    {
        width: 405px;
        height: 30px;
        transition: .2s;
    }
    #Projects
    {
        margin-top: 12%;
        color: black;
    }
    .Projects
    {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        /* background-color: black; */
        color: aliceblue;
        padding-bottom: 18px;
        border-radius: 10px;
        text-align: center;
        align-items: center;
    }
    .Projects span
    {
        background-color: aliceblue;
        color: black;
        margin: 5px ;
        align-items: center;
        border-radius: 3%;
        padding-bottom: 5%;
        box-shadow: 2px 2px 2px gray;

    }
    .Projects span:hover
    {
        box-shadow: 4px 4px 4px gray;
    }
    .Projects a
    {
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: .3s;
    }
    .Projects a:hover
    {
        color: black;
    }
    .Projects button
    {
        border-radius: 5px;
        width: 120px;
        background-color: black;
        padding: 5px;
        box-shadow: inset 0 0 0 50px black;
        transition:ease-in .3s;
    }
    .Projects button:hover
    {
        transition:ease-in .3s;
        background-color: whitesmoke;
        box-shadow: inset 0 0 0 0 black;
    }
    .p-heading
    {
        font-weight: bold;
        margin-bottom: -9%;
        font-size: 18px;

    }
    #Projects img
    {
        margin-top: 5%;
        margin-bottom: 3%;
        height: 120px;
        width: 240px;
        border-radius: 10px;
        border: 4px solid black;
        transition:ease-out .5s;
    }
    .service
    {
        display: flex;
        justify-content:space-between;
        height: 500px;
        padding-top:80px;
    }
    .service-h3
    {
        margin-left: 150px;
        font-size: 25px; 
        color: red;
    }
    .service-p
    {
        margin-left: 150px;
    }
    .service img
    {
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        border-top: 10px double black;
        border-bottom: 10px double black;
        width: 380px;
        height: 250px;
        transition: .3s;
    }
    .service img:hover
    {
        width: 385px;
        height: 252px;
        transition: .3s;
    }
    .services-list
    {
        list-style: none;
        color: black;
        font-size: 20px;
        font-weight: 600;
        padding-left: 150px;
        margin-top: 30px;
    }
    .service p 
    {
        color: black;
    }
    #contact
    {
        display: flex;
        justify-content: space-around;
        background-color: black;
        border-radius: 30px;
        padding: 5%;
        margin-bottom: 5%;
    }
    .contact-left
    {
        color: white;
    }
    .contact-left h1
    {
        font-size: 35px;

    }
    .contact-left div
    {
        margin-bottom:15px ;
    }
    .contact-left span
    {
        margin-right: 15px;
    }
    .contact-left button
    {
        padding: 15px 40px 15px 40px;
        border-radius: 10px;
        background-color: red;
        color: white;
        box-shadow: inset 0 0 0 50px rgb(255, 0, 0);
        transition: ease-out .5s;
    }
    .contact-left button:hover
    {
        color: white;
        background-color: black;
        border: 1px solid white;
        padding: 15px 40px 15px 40px;
        box-shadow: inset 0 0 0 0 rgb(255, 0, 0);
        transition: .5s;  
    }
    .contact-form input
    {
        width: 400px;
        height: 40px;
        background-color: rgb(68, 67, 67);
        border: 1px solid black;
        border-radius: 5px;
        color: aliceblue;
    }
    .contact-form textarea
    {
        max-width: 400px;
        max-height: 100px;
        min-width: 400px;
        min-height: 100px;
        background-color: rgb(68, 67, 67);
        border-radius: 5px;
        border: 1px solid black;
        color: aliceblue;
    }
    .contact-form button
    {
        padding: 15px 40px 15px 40px;
        border-radius: 10px;
        background-color: rgb(255, 0, 0);
        color: white;
        box-shadow: inset 0 0 0 50px rgb(255, 0, 0);
        transition: ease-out .5s;
    }
    .contact-form button:hover
    {
        color: white;
        background-color: black;
        border: 1px solid white;
        padding: 15px 40px 15px 40px;
        box-shadow: inset 0 0 0 0 rgb(255, 0, 0);
        transition: .5s;   
    }
    ::placeholder
    {
        color: white;
        font-size: 15px;
    }    
}
@media screen and (orientation:portrait) {
    body
    {
        font-family: 'Montserrat', sans-serif;
        color: red; 
        overflow-x: hidden;
        margin-left: 10%;
        margin-right: 10%;
    }
    header
    {
        display: flex;
        position: sticky;
        top:5px;
        justify-content: space-around;
        background-color:black;
        padding: 5px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        margin: 2px 0px 2px 0px;
        transition: 800ms;
        align-items: center;
        height: 20px;
    }
    .logo
    {
        font-weight: bold;
        font-size: 15px;
        text-shadow: 4px 4px 2px black;
    }
    .nav
    {
        list-style: none;
    }
    .bi-justify
    {
        background-color: black;
        color: lightgray;
        border: none;
        position: relative;
        top: -8px;
        right: -45px;
    }

    .nav-items
    {
        display: none;       
    }
    .home
    {
        display: grid;
        background-image: url(/public/images/my1.jpeg);
        background-position: center;
        background-size: cover;
        height: 70vh;
        width: 80vw;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
    }
    .effect
    {
        background-color: rgba(0, 0, 0, 0.2);
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
    }
    .home-img img
    {
        display: none;
    }
    .main-text
    {
        color: aliceblue;
        padding-top: 250px;
        padding-left: 20px;
        margin-bottom: 0px;
        width: 100%;
        text-shadow: 4px 4px 5px black;
    }
    .first-line
    {
        font-size: 18px;
        margin-bottom: -12px;
    }
    .second-line
    {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: -12px;

    }
    .typing
    {
        display:inline-block;
        padding-right: 3px;
        font-size: 18px;
        border-right: 3px solid aliceblue;
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        animation: typing 6s steps(23) infinite;
        
    }
    @keyframes typing {
        0%
        {
           width: 0;
        }
        50%
        {
            width: 70%;
        }
        
    }
    .btn-hire
    {
        color: aliceblue;
        background-color: rgb(255, 0, 0);
        width: 80px;
        height: 30px;
        margin-top: 3%;
        margin-right: 10px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: inset 0 0 0 50px rgb(255, 0, 0);
        font-size: 15px;
        transition: ease-out 1s;
    }
    .btn-cv
    {
        color: aliceblue;
        background-color: rgb(255, 0, 0);
        width: 115px;
        height: 30px;
        margin-top: 3%;
        margin-right: 10px;
        margin-left: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: inset 0 0 0 50px rgb(255, 0, 0);
        font-size: 15px;
        transition: ease-out 1s;
    }
    .btn-cv:hover
    {
        color: aliceblue;
        background-color: black;
        border: 1px solid aliceblue;
        box-shadow: inset 0 0 0 0 rgb(255, 0, 0);
        transition: .7s;    
    }
    .btn-hire:hover
    {
        color: aliceblue;
        background-color: black;
        border: 1px solid aliceblue;
        box-shadow: inset 0 0 0 0 rgb(255, 0, 0);
        transition: .7s;    
        
    }
    hr
    {
        color: grey;
        margin-top: 30px; 
    }
    .skills
    {
        margin-top:30px;
        color: black; 
    }
    .heading-mobile
    {
        font-size: 25px;
        color: black;
        font-weight: bold;
        text-shadow: 5px 2px 5px grey;
        margin-bottom: -120px;
    }
    .heading
    {
        font-size: 25px;
        color: black;
        font-weight: bold;
        text-shadow: 5px 2px 5px grey;
    }
    .heading-pc
    {
        display: none;
    }
    .sub-skills
    {
        background-image: url(/public/images/programming.png);
        background-size: cover;
        background-position: left;
        border-radius: 10%;
    }
    .shade
    {
        background-color:rgba(0, 0, 0, 0.7);        
        color: aliceblue;
        border-radius: 10%;
        padding: 10px;

    }
    .skillimg
    {
       display: none;
        
    }
    table
    {
        margin-top: 150px;
    }
    td
    {
        justify-content: space-between;
        width: 150%;
        font-weight: bold;
    }
    .skbar
    {
        width: 100%;
        height: 25px;
        transition: .5s;
        font-weight: bold;
    }
    .skbar:hover
    {
        width: 102%;
        height: 26px;
        transition: .2s;
    }
    #Projects
    {
        margin-top: 12%;
        color: black;
    }
    .Projects
    {
        display: grid;
        color: aliceblue;
        padding-bottom: 18px;
        border-radius: 10px;
        text-align: center;
        align-items: center;
    }
    .Projects span
    {
        background-color: aliceblue;
        color: black;
        margin: 5px ;
        align-items: center;
        border-radius: 3%;
        padding-bottom: 5%;
        box-shadow: 2px 2px 2px gray;

    }
    .Projects span:hover
    {
        box-shadow: 4px 4px 4px gray;
    }
    .Projects a
    {
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: .3s;
    }
    .Projects a:hover
    {
        color: black;
    }
    .Projects button
    {
        border-radius: 5px;
        width: 120px;
        background-color: black;
        padding: 5px;
        box-shadow: inset 0 0 0 50px black;
        transition:ease-in .3s;
    }
    .Projects button:hover
    {
        transition:ease-in .3s;
        background-color: whitesmoke;
        box-shadow: inset 0 0 0 0 black;
    }
    .p-heading
    {
        font-weight: bold;
        margin-bottom: -9%;
        font-size: 18px;

    }
    #Projects img
    {
        margin-top: 5%;
        margin-bottom: 3%;
        height: 120px;
        width: 240px;
        border-radius: 10px;
        border: 5px solid lightblue;
        transition:ease-out .5s;
    }
    #service
    {
        margin-top: 35%;
    }
    .service
    {
        padding-top:20px;   
    }
    .service-h3
    {
        font-size: 25px; 
        color: red;
    }
    .service img
    {
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        border-top: 10px double black;
        border-bottom: 10px double black;
        width: 100%;
        height: 45%;
        transition: .3s;
    }
    .service img:hover
    {
        width: 102%;
        height: 46%;
        transition: .3s;
    }
    .services-list
    {
        color: black;
        font-size: 20px;
        font-weight: 600;
        margin-top: 30px;
    }
    .service p 
    {
        color: black;
    }
    #contact
    {
        background-color: black;
        border-radius: 20px;
        padding: 5%;
        margin-top: 40%;
    }
    .contact-left
    {
        color: white;
    }
    .contact-left h1
    {
        font-size: 25px;

    }
    .contact-left div
    {
        margin-bottom:15px ;
    }
    .contact-left span
    {
        margin-right: 15px;
    }
    .contact-left button
    {
        padding: 15px 40px 15px 40px;
        /* margin-left: 20%; */
        margin-bottom: 15%;
        border-radius: 10px;
        background-color: red;
        color: white;
        box-shadow: inset 0 0 0 50px rgb(255, 0, 0);
        transition: ease-out .5s;
    }
    .contact-left button:hover
    {
        color: white;
        background-color: black;
        border: 1px solid white;
        padding: 15px 40px 15px 40px;
        box-shadow: inset 0 0 0 0 rgb(255, 0, 0);
        transition: .5s;  
    }
    .contact-form input
    {
        width: 100%;
        height: 35px;
        background-color: rgb(68, 67, 67);
        border: 1px solid black;
        border-radius: 5px;
        color: aliceblue;
    }
    .contact-form textarea
    {
        max-width: 100%;
        max-height: 50%;
        min-width: 100%;
        min-height: 50%;
        background-color: rgb(68, 67, 67);
        border-radius: 5px;
        border: 1px solid black;
        color: aliceblue;
    }
    .contact-form button
    {
        padding: 15px 40px 15px 40px;
        /* margin-left: 28%;
         */
        border-radius: 10px;
        background-color: rgb(255, 0, 0);
        color: white;
        box-shadow: inset 0 0 0 50px rgb(255, 0, 0);
        transition: ease-out .5s;
    }
    .contact-form button:hover
    {
        color: white;
        background-color: black;
        border: 1px solid white;
        padding: 15px 40px 15px 40px;
        box-shadow: inset 0 0 0 0 rgb(255, 0, 0);
        transition: .5s;   
    }
    ::placeholder
    {
        color: white;
        font-size: 15px;
    }
        
}